<?xml version="1.0" encoding="utf-8"?>
<!-- 
Weather conditions:
 0 = UNKOWN
 1 = STORM
 2 = THUNDERSTORM
 3 = DRIZZLE
 4 = RAIN
 5 = SHOWERS 
 6 = FLURRIES
 7 = RAINANDSNOW
 8 = SNOW
 9 = HAIL
10 = FOG 
11 = HAZE 
12 = WIND
13 = PARTLY_CLOUDY
14 = MOSTLY_CLOUDY
15 = CLEAR 
16 = FAIR
-->
<config>
  <title>Climacons Icons</title>
  <description>Minimal weather icons</description>
  <font>climacons.ttf</font>
  <demo>lz639o]</demo>
  <default>S</default>
  <!-- We provide current, 2 days and sunrise/sunset icons modes -->
  <mode value="#WCCODE#">Current Weather</mode>
  <mode value="#W0CODE#">Today's Weather</mode>
  <mode value="#W1CODE#">Tomorrow's Weather</mode>
  <mode value="#W2CODE#">2 Days Weather</mode>
  <mode value="#W3CODE#">3 Days Weather</mode>
  <mode value="#W4CODE#">4 Days Weather</mode>
  <mode value="#W5CODE#">5 Days Weather</mode>
  <mode value="#W6CODE#">6 Days Weather</mode>
  <mode value="#W7CODE#">7 Days Weather</mode>
  <mode value="SR">Sunrise Static Icon</mode>
  <mode value="SS">Sunset Static Icon</mode>
  <!-- First we check for static icons -->
  <condition>
    <!-- Sunrise Icon -->
    <test>#MODE#=SR</test>
    <image>n</image>
  </condition>
  <condition>
    <!-- Sunset Icon -->
    <test>#MODE#=SS</test>
    <image>b</image>
  </condition>
  <!-- Following condition icons are the same day and night -->
  <condition>
    <!-- Storm -->
    <test>#MODE#=1</test>
    <image>l</image>
  </condition>
  <condition>
    <!-- Thunder Storm -->
    <test>#MODE#=2</test>
    <image>z</image>
  </condition>
  <condition>
    <!-- Drizzle -->
    <test>#MODE#=3</test>
    <image>6</image>
  </condition>
  <condition>
    <!-- Rain -->
    <test>#MODE#=4</test>
    <image>3</image>
  </condition>
  <condition>
    <!-- Showers -->
    <test>#MODE#=5</test>
    <image>9</image>
  </condition>
  <condition>
    <!-- Flurries -->
    <test>#MODE#=6</test>
    <image>o</image>
  </condition>
  <condition>
    <!-- Rain and Snow / Snow -->
    <test>#MODE#=7</test>
    <test>#MODE#=8</test>
    <image>]</image>
  </condition>
  <condition>
    <!-- Hail -->
    <test>#MODE#=9</test>
    <image>y</image>
  </condition>
  <condition>
    <!-- Fog / Haze -->
    <test>#MODE#=10</test>
    <test>#MODE#=11</test>
    <image>s</image>
  </condition>
  <condition>
    <!-- Wind -->
    <test>#MODE#=12</test>
    <image>k</image>
  </condition>
  <condition>
    <!-- Mostly Cloudy -->
    <test>#MODE#=14</test>
    <image>`</image>
  </condition>
  <!-- Nightly icons block will be skipped entirely if his conditions do not match -->
  <condition>
    <!-- We just check if sunrise hour is greater than current -->
    <test>#ARHH#&gt;#DHH#</test>
    <!-- Or if sunset if minor than current -->
    <test>#ASHH#&lt;#DHH#</test>
    <condition>
      <!-- Fair/Clear -->
	  <test>#MODE#=15</test>
      <test>#MODE#=16</test>
      <image>/</image>
	</condition>
	<condition>
	  <!-- Partly cloudy -->
	  <test>#MODE#=13</test>
	  <image>2</image>
	</condition>
  </condition>
  <!-- Daily conditions (parser will arrive here if it did not catch anything in night block) -->
  <condition>
    <!-- Fair/Clear -->
    <test>#MODE#=15</test>
    <test>#MODE#=16</test>
    <image>v</image>
  </condition>
  <condition>
    <!-- Partly cloudy -->
    <test>#MODE#=13</test>
    <image>1</image>
  </condition>
</config>
